@use "sass:list";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$itemColor1: hsl(31, 77%, 52%);
$itemColor2: hsl(184, 100%, 22%);
$itemColor3: hsl(179, 100%, 13%);
$itemCorner1: 0.5rem 0.5rem 0 0;
$itemCorner2: 0;
$itemCorner3: 0 0  0.5rem 0.5rem;
$itemCornerDesktop1: 0.5rem 0 0 0.5rem;
$itemCornerDesktop2: 0;
$itemCornerDesktop3: 0 0.5rem 0.5rem 0;
$colors: $itemColor1, $itemColor2, $itemColor3;
$corners: $itemCorner1, $itemCorner2, $itemCorner3;
$cornersDesktop: $itemCornerDesktop1, $itemCornerDesktop2, $itemCornerDesktop3;
$gridItem: gridItem;
$breakpoint: 700px;
$minHeight: 480px;
$minWidth: 300px;
$verMargin: 18vh;
$horMargin: 17vw;

.container {
  margin: $verMargin $horMargin;
  color: rgba(255,255,255,0.9);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(#{$minHeight}, calc(100vh - #{$verMargin * 2})) ;
  justify-content: center;

  @media screen and (max-width: $breakpoint) {
    grid-template-columns: clamp(#{$minWidth}, 90vw, 90vw);
    grid-template-rows: repeat(3, 1fr);
    margin: #{$verMargin / 2.0} $horMargin;
  }

  div {
    padding: 3.4rem 3.4rem;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 7.1rem auto 1fr;
    align-content: start;
  } 

  h1 {
    font-family: "Big Shoulders Display";
    font-size: 2.7rem;
  }

  p {
    line-height: 1.8rem;
    margin-top: 0;
  }

  button {
    height: 3.2rem;
    width: 9.73rem;
    border-radius: 1.6rem;
    border: 2px solid white;
    margin-top: 0.9rem;
    background-color: white;
    align-self: end;
  }
}

@for $i from 1 through 3 {
  .#{$gridItem}#{$i} {
    background-color: list.nth($colors, $i);
    border-radius: list.nth($cornersDesktop, $i);

    @media screen and (max-width: $breakpoint) {
      border-radius: list.nth($corners, $i);
    }

  }

  .#{$gridItem}#{$i} button {
    color: list.nth($colors, $i);

    &:hover {
      background-color: list.nth($colors, $i);
      color: white;
      cursor: pointer;
    }
  }
  
}
